legend{
	display: block;
	color: #FF0004;
	text-shadow: 5px 7px 6px black;

}

label{
display:block;
color: red;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
font-style: italic;
font-size: 16px;
text-shadow: 5px 7px 6px black;
text-decoration:underline;
font-weight: bold;
margin-left: 120px;	
}

legend{
	margin-left: 30px;
	
}

#ti2{

color: red;
text-shadow: 2px 5px  5px black;
font-size: 50px;
text-align: center;

}
body{
background-image: url(https://images.ctfassets.net/nnkxuzam4k38/2SvDjcgyav5C1DOb79JKXl/d3b06db5bb6bdb4ab237f666b5b4980e/compute-ea4c57a4.png);
}
.fieldset1{	
background-image: url(https://www.freecodecamp.org/news/content/images/size/w2000/2022/09/jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
width: 300px;
height: auto;
border-style: double;
border-color:aliceblue;
border-radius: 20px	
}

form{
display: block;
padding: 100px 0 100px 50%
}

#bu{
	text-align: center;
	margin-top: 20px;
}

.envoyer{
color: aliceblue;
background-color:#504E4E;
text-align: center;	
width: 105px;
height: 40px;
border-radius: 15px;	
border-style: double;
border-color:#1A1818;
}
.reset{
color: aliceblue;
background-color: #504E4E;
width: 105px;
height: 40px;
border-radius: 15px;	
border-style: double;
border-color:#1A1818;
}
#fr{
width: 10px;
margin: 4px;
display: block;		

}
select{
margin-top: 15px;	
margin-left: 100px;
border-radius: 10px	;
border-style: double;
border-color:#1A1818;	
padding: 10px 5px ;	
color:aliceblue;
background-color:#504E4E;
}
input{
	border-radius: 6px;
}
input:hover{
	background-color: #4d6a8a;
}

.n{
margin-left: 50px;
border-bottom: solid #FF0004;
}

select option {
background-color: white;
color: black;
}





s
button:hover{
	background-color:#403E3E; 
}

select:hover{
	background-color:#403E3E; 
}
button:focus{
	background-color: #4d6a8a;
	border-style: double;
	border-color: aliceblue;
	font-size: 20px;
}


